<style>
    #map {
        width: 100%;
        height: 400px;
    }

</style>

<h1>{{title}} 🚀</h1>
<p>Welcome Ironhacker!</p>
<a href="/places">List</a>
<a href="/places/creat">Creat</a>

<div id="map"></div>

